<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NPOI" version="2.5.2" targetFramework="net48" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net48" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net48" />
  <package id="VersOne.Epub" version="3.0.3.1" targetFramework="net48" />
</packages>